%h1 Listing categories

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= link_to category.name, category

%br
- if can? :manage, @categories
  = link_to 'New Category', new_category_path
